<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<form method="POST" class="post-form" action="/update/{{ employee.id }}">
    {% csrf_token %}
    {#    <div class="container">#}
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Update Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Id:</label>
            <div class="col-sm-4">
                <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ employee.eid }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Name:</label>
            <div class="col-sm-4">
                <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{ employee.ename }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Email:</label>
            <div class="col-sm-4">
                <input type="email" name="eemail" id="id_eemail" required maxlength="254"
                       value="{{ employee.eemail }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Contact:</label>
            <div class="col-sm-4">
                <input type="text" name="econtact" id="id_econtact" required maxlength="15"
                       value="{{ employee.econtact }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    {#    </div>#}
</form>
</body>
</html>